@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");


/*-----------------General Styles-----------------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: #0b0c10;
    color: #fff;
    overflow-x: hidden;
}

.container {
    padding: 5px 5%;
}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    background: linear-gradient(to right, #45A29E, #66FCF1);
    background-clip: text;
    color: transparent;

}

section {
    margin-top: 25px;
}

/*-----------------General Buttons-----------------*/
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #66fcf1;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    background-color: #0b0c10;
    cursor: pointer;
}

.btn:hover {
    background: #66fcf1;
    color: #0b0c10;
}

/*-----------------Pre Loader-----------------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 1000;
    flex-direction: column;
}

.main-content {
    /*Hide main content at start*/
    display: none;
}

.preloader-text {
    margin-bottom: 20px;
    color: #0b0c10;
    animation: text_713 3.5s ease both infinite;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.preload {
    position: relative;
    background-color: #45a29e;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    animation: loading_713 3.5s ease both infinite;
}

.preload::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #66fcf1;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
}

/*-----------------Header Section-----------------*/
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    margin-bottom: 50px;
}

/*-----------------Logo-----------------*/
.logo {
    position: absolute;
    left: 30px;
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    background: linear-gradient(to right, #fff, #66FCF1);
    background-clip: text;
    color: transparent;
}

.logo span {
    color: #66fcf1;
    font-size: 50px;
}

/*-----------------Navbar-----------------*/
.navbar {
    position: absolute;
    top: 40px;
    right: 20px;
    background: transparent;
    padding: 10px 20px;
    z-index: 1000;
}

.sticky {
    position: fixed;
    top: 0;
    background: rgba(69, 162, 158, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(69, 162, 158, 0.1);
}


.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 20px;
}

.nav-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
    transition: .3s;
    opacity: 0;
    position: relative;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.nav-link.active {
    color: #66fcf1;
    font-weight: bold;
}

.nav-link.active::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 25px;
    transform: scaleX(0);
    background: #66FCF1;
    transform-origin: right;
    transition: transform 0.3s ease;
}

.nav-link.active::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-link::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 25px;
    transform: scaleX(0);
    background: #66FCF1;
    transform-origin: right;
    transition: transform 0.3s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-link:hover {
    color: #66fcf1;
    transition: color 0.3s, text-decoration 0.3s;
}

/* Burger Menu Styles */
.burger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: none;
    z-index: 1000;
    animation: slideTop 1s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.burger input {
    display: none;
}

.burger span {
    display: flexbox;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #66fcf1;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform: translateY(-100%);
    transform-origin: left center;
}

/* Transform spans into "X" when checkbox is checked */
.burger input:checked~span:nth-of-type(1) {
    background: #0b0c10;
    transform: rotate(45deg);
    top: 0;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    background: #0b0c10;
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

/* Sidebar Styles */
.sidemenu {
    position: fixed;
    top: 0;
    right: -200px;
    /* Hide sidebar by default */
    width: 200px;
    height: 100vh;
    background: #45A29E;
    transition: right 0.5s ease;
    z-index: 999;
    padding-top: 20px;
    height: 100%;
}

.sidemenu ul {
    list-style: none;
    padding: 0;
    margin: 60px 0;
}

.sidemenu ul li {
    margin: 60px 0;
    text-align: center;
}

.sidemenu ul li a {
    color: #0B0C10 !important;
    font-size: 18px;
    text-decoration: none;
}

.sidemenu .nav-link::after {
    background: #0b0c10;
}


/*-----------------Home Section-----------------*/
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 70px 120px 0;
    box-sizing: border-box;
}

.home-text {
    font-size: 40px;
    text-align: center;
}

.home-text h1 {
    margin: -3px 0;
    font-size: 64px;
    font-weight: 700;
    color: #66FCF1;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-text h3 {
    margin: -3px 0;
    font-size: 36px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-text h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-text h3 span {
    color: #66FCF1;
}

/* Typing Animation Container */
.mult-text-container {
    display: inline-block;
    width: 500px;
    text-align: center;
}

.mult-text {
    display: inline-block;
}

/* Home Selfie Image */
.selfie img {
    width: 500px;
    height: 500px;
    max-width: 100%;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    border-radius: 50%;
    background: #66fcf1;
    box-shadow: 24px -24px 57px #45A29E, -24px 24px 57px #66FCF1;
    background: linear-gradient(70deg, #fff 10%, #c5c6c7 30%, #1f2833 50%, #0b0c10 75%);
}

/*-----------------About Section-----------------*/
.about-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: flex-start;
}

.small-screen-image {
    display: none;
}

.about-col1 {
    flex: 1 1 35%;
    max-width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-col1 img {
    height: 575px;
    border-radius: 15px;
    max-width: 100%;
}

.about-right {
    flex: 1 1 60%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
}

.about-subtitle {
    order: 1;
    text-align: left;
    margin-bottom: 10px;
}

.about-col2 {
    order: 2;
    font-size: 16px;
}

.tab-content {
    border: 1px solid #66FCF1;
    padding: 10px;
    background-color: #66FCF1;
    border-radius: 0.5rem;
    display: none;
    font-size: 16px;
}

.tab-content ul li {
    margin: 10px 0 0 10px;
    color: #0B0C10;
}

.tab-content ul li span {
    color: #0B0C10;
    font-weight: bold;
    font-size: 16px;
}

.tab-content.active-tab {
    display: block;
}

.job-description {
    margin-left: 10px;
    margin-top: -10px;
}

.job-description ul {
    list-style-type: disc;
}

.job-description li {
    margin-bottom: 5px;
    font-size: 0.9em;
    line-height: 1.4;
}

.name {
    font-size: 18px;
}

/* Education About Section */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.flex-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.flex-right {
    flex: 1;
    text-align: right;
    padding-right: 50px;
}

.flex-item {
    color: #0B0C10;
    font-size: 16px;
}

.flex-item:nth-child(1) {
    text-align: left;
}

.flex-item:nth-child(2) {
    text-align: right;
}

.flex-item:nth-child(3) {
    text-align: left;
    margin-top: 10px;
}

/* About Section Radio Btn */
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #0b0c10;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
}

.radio-inputs .radio {
    flex: 1 1 auto;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: none;
    padding: 0.5rem 0.8rem;
    color: #fff;
    transition: all 0.15s ease-in-out;
    position: relative;
}

.radio-inputs .radio input:checked+.name {
    background-color: #66FCF1;
    font-weight: 600;
}

.radio-inputs .radio input+.name:hover {
    color: #66FCF1;
}

.radio-inputs .radio input:checked+.name:hover {
    color: #0b0c10;
}

.radio input:checked+.name {
    color: #0b0c10;
}

.radio-inputs .radio input:checked+.name::after,
.radio-inputs .radio input:checked+.name::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0b0c10;
    bottom: 0;
}

.radio-inputs .radio input:checked+.name::after {
    right: -10px;
    border-bottom-left-radius: 300px;
    box-shadow: -3px 3px 0px 3px #66FCF1;
}

.radio-inputs .radio input:checked+.name::before {
    left: -10px;
    border-bottom-right-radius: 300px;
    box-shadow: 3px 3px 0px 3px #66FCF1;
}

/*-----------------Specialization Section-----------------*/
#specialization {
    padding: 30px 0;
}

.specialization-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.specialization-list div {
    background: #1f2833;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s transform 0.5s;
}

.specialization-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.specialization-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.specialization-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.specialization-list div:hover {
    background: #45A29E;
    transform: translateY(-10px);
}

.specialization-desc {
    font-size: 16px;
}


/*-----------------Work Section-----------------*/
#work {
    padding: 30px 0;
}

.work-list {
    margin-top: 40px;
    display: flex;
    transition: transform 0.5s ease;
    gap: 20px;
}

.work-slider {
    overflow: hidden;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

.work {
    flex: 0 0 calc(33.33% - 20px);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.work img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
    display: block;
    object-fit: cover;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #66fcf1);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #0B0C10;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
    position: relative;
}

.layer a:hover {
    color: #45A29E;
    transform: scale(1.2);
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.slider-controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.slider-controls .btn {
    border-width: 2px;
    border-color: #66fcf1;
    background: #0b0c10;
    color: #66fcf1;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 32px;
    transition: background 0.3s ease;
}

.slider-controls .btn:hover {
    background: #66fcf1;
    color: #0b0c10;
}

/*-----------------Contact Section-----------------*/
#contact {
    text-align: center;
    padding: 30px 0;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 25px;
}

.contact-left p i {
    color: #66FCF1;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 25px;
    transition: transform 0.5s;
}

.contact-left p i:hover {
    color: #fff;
    transform: translateY(-5px);
}

.social-icons {
    margin-top: 35px;
}

.social-icons a {
    text-decoration: none;
    font-size: 32px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #66FCF1;
    transform: translateY(-5px);
}

.check {
    fill: none;
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 12px 0;
    color: #0B0C10;
    font-size: 16px;
    border-radius: 6px;
}

form .btn {
    padding: 14px 60px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

/* CV Download Button */
.cv-download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 60px 0;
}

.button {
    --width: 150px;
    --height: 50px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #0b0c10;
    --tooltip-color: #fff;
    border: 1px solid #66FCF1;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-size: 16px;
    transition: background 0.3s;
    cursor: pointer;
}

.button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper,
.text,
.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.text {
    top: 0
}

.text,
.icon {
    transition: top 0.5s;
}

.icon {
    color: #0b0c10;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg {
    width: 24px;
    height: 24px;
}

.button:hover {
    background: #66fcf1;
}

.button:hover .text {
    top: -100%;
}

.button:hover .icon {
    top: 0;
}

.button:hover:before,
.button:hover:after {
    opacity: 1;
    visibility: visible;
}

.button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/* Form Submit Button */
.form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.submit-btn {
    font-family: inherit;
    font-size: 16px;
    background-color: #0b0c10;
    color: #fff;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: 1px solid #66fcf1;
    border-radius: 0.45rem;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #66fcf1;
    color: #0b0c10;
}

.submit-btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.submit-btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.submit-btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.submit-btn:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.submit-btn:hover span {
    transform: translateX(5em);
}

.submit-btn:active {
    transform: scale(0.95);
}

#msg {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #66FCF1;
    margin-top: 5px;
}

/*-----------------Website Footer-----------------*/
.copyright {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #1f2833;
    font-weight: 300;
}



/*----------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------CSS for Small Screens-----------------*/
nav .fa-solid {
    display: none;
}

@media (max-width: 1024px) {
    .header {
        margin-bottom: 50px;
    }

    .navbar {
        top: 80px;
    }

    .navbar.sticky {
        top: 0;
    }

    .nav-link {
        font-size: 21px;
    }

    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    .home-text {
        margin-top: 0;
    }

    .selfie img {
        width: 300px;
        height: 300px;
        margin-top: 20px;
    }

    .work {
        flex: 0 0 calc(50% - 20px);
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .about-row {
        flex-direction: column;
        align-items: center;
    }

    .about-right {
        max-width: 100%;
        order: 4;
    }

    .about-col1 {
        display: none;
    }

    .about-subtitle {
        order: 1;
        text-align: center;
    }

    .small-screen-image {
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }

    .small-screen-image img {
        height: 550px;
        border-radius: 15px;
        max-width: 100%;
    }

    .about-col2 {
        order: 3;
    }

    .subtitle {
        text-align: center;
    }

    .about p {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .logo {
        font-size: 36px;
    }

    .logo span {
        font-size: 32px;
    }

    .navbar {
        top: 70px;
    }

    .navbar.sticky {
        top: 0;
    }

    .nav-link {
        font-size: 18px;
    }

    .home-text h1,
    .home-text h3 {
        font-size: 32px;
    }

    .selfie img {
        width: 350px;
        height: 350px;
    }

    .work {
        flex: 0 0 calc(50% - 20px);
    }

    .layer {
        font-size: 12px;
    }

    .layer h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .layer a {
        font-size: 14px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .about-col2 p {
        font-size: 18px;
    }

    .about-col2 ul li {
        font-size: 16px;
    }

    .about-col2 ul li span{
        font-size: 18px;
    }

    .flex-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .flex-left,
    .flex-right {
        flex: 1 1 100%;
        text-align: left;
    }

    .flex-right {
        order: 3;
    }

    .flex-item:nth-child(1),
    .flex-item:nth-child(2),
    .flex-item:nth-child(3) {
        text-align: left;
        margin-top: 0;
    }

    .flex-item:nth-child(2) {
        order: 3;
    }

    .flex-item:nth-child(3) {
        order: 2;
    }

    .specialization-list p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        font-size: 21px;
    }

    .header {
        margin-bottom: 50px;
    }

    .home-text h1 {
        font-size: 36px;
    }

    .home-text h3 {
        font-size: 32px;
    }

    .selfie img {
        max-width: 100%;
        height: auto;
    }

    .radio-inputs .radio input:checked+.name::after,
    .radio-inputs .radio input:checked+.name::before {
        content: none;
    }

    .radio-inputs .radio .name {
        padding: 0.5rem;
        font-size: 16px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .work-list {
        display: grid;
        grid-template-columns: 1fr;
    }

    .work {
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
    }

    .work img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    .layer {
        flex: 1;
        font-size: 14px;
    }

    .layer h3 {
        font-size: 21px;
        margin-bottom: 20px;
    }

    .layer p {
        font-size: 18px;
    }

    .layer a {
        font-size: 21px;
    }

    .work-slider {
        overflow: hidden;
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }

    .slider-controls {
        display: none;
    }

    .subtitle {
        font-size: 42px;
    }

    .about-col1,
    .about-col2 {
        flex-basis: 100%;
    }

    .about-col1 {
        margin-bottom: 30px;
    }

    .about-col1 img {
        width: 100%;
        height: 100%;
    }

    .about-col2 {
        font-size: 14px;
    }

    .radio-inputs {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0.5rem;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }

    /* Show burger menu and sidebar on small screens */
    .navbar {
        display: none;
    }

    .burger {
        display: block;
    }

    #burger:checked~.sidemenu {
        right: 0;
    }

    #burger:checked~.burger {
        transform: translate(-120px, 0);
    }
}


/*-----------------KEYFRAMES-----------------*/
/*-----------------Logo-----------------*/
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*-----------------Navbar-----------------*/
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/*-----------------Header Text-----------------*/
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/*-----------------Header Selfie-----------------*/
@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/*-----------------Header Selfie Float-----------------*/
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0);
    }
}

/*-----------------Submit Form Button-----------------*/
@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

/*-----------------Preloader-----------------*/
@keyframes text_713 {
    0% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }

    40% {
        letter-spacing: 2px;
        transform: translateX(26px);
    }

    80% {
        letter-spacing: 1px;
        transform: translateX(32px);
    }

    90% {
        letter-spacing: 2px;
        transform: translateX(0px);
    }

    100% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }
}

@keyframes loading_713 {
    0% {
        width: 16px;
        transform: translateX(0px);
    }

    40% {
        width: 10%;
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        transform: translateX(64px);
    }

    90% {
        width: 10%;
        transform: translateX(0px);
    }

    100% {
        width: 16px;
        transform: translateX(0px);
    }
}

@keyframes loading2_713 {
    0% {
        width: 16px;
        transform: translateX(0px);
    }

    40% {
        width: 80%;
        transform: translateX(0%);
    }

    80% {
        width: 100%;
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        transform: translateX(15px);
    }

    100% {
        width: 16px;
        transform: translateX(0px);
    }
}