@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

body{
    background: #0b0c10;
    color: #fff;
     
}


/*-----------------Home/Header Section-----------------*/
#header{
    width: 100%;
    height: 100vh;
}

.container{
    padding: 5px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*-----------------Logo-----------------*/
.logo{
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    background: linear-gradient(to right, #fff, #66FCF1);
    background-clip: text;
    color: transparent;
    
}

.logo span{
    color: #66fcf1;
    font-size: 50px;
}


/*-----------------Navbar-----------------*/
.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.navbar ul li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: .3s;
    opacity: 0;
    position: relative;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

/* .navbar ul li a.active::after{
    content: "";
    width: 100%;
    height: 3px;
    background: #66FCF1;
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 25px;
    transform: scaleX(1);
    background: #66FCF1;
    transform-origin: left;
    transition: transform 0.3s ease;
    
} */

.navbar ul li a::after{
    content: "";
    width: 100%;
    height: 3px;
    background: #66FCF1;
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 25px;
    transform: scaleX(0);
    background: #66FCF1;
    transform-origin: right;
    transition: transform 0.3s ease;
}

.navbar ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

/* .navbar ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #66FCF1;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.navbar ul li a:hover::after{
    width: 100%;
} */

.home{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: safe;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 120px;
}

.home-text{
    margin-top: 120px;
    font-size: 40px;
}

.home-text h1{
    margin: -3px 0;
    font-size: 64px;
    font-weight: 700;
    color: #66FCF1;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-text h3{
    margin: -3px 0;
    font-size: 36px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-text h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-text h3 span{
    color: #66FCF1;
}

/*-----------------Home Selfie Image-----------------*/
.selfie img{
    width: 500px;
    max-width: 600px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    border-radius: 50%;
    
    box-shadow:  5px -5px 30px #45A29E, -20px 15px 30px #66fcf1;
}


/*-----------------About Section-----------------*/
#about{
    padding: 80px 0;
    color: #fff;
    background-color: #0b0c10;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1{
    flex-basis: 35%;
}

.about-col1 img{
    /*width: 100%;*/
    height: 520px;
    border-radius: 15px;
}

.about-col2{
    flex-basis: 60%;
    font-size: 16px;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    background: linear-gradient(to right, #45A29E, #66FCF1);
    background-clip: text;
    color: transparent;
    
}


/* .tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #45A29E;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
} */


.tab-content{
    border: 1px solid #66FCF1;
    padding: 10px;
    background-color: #66FCF1;
    border-radius: 0.5rem;
}

.tab-content ul li{
    list-style: inside;
    margin: 10px 0;
    color: #0B0C10;
}

.tab-content ul li span{
    color: #0B0C10;
    font-weight: bold;
    font-size: 16px;
}

.tab-content{
    display: none;
    font-size: 16px;
}

.tab-content.active-tab{
    display: block;
}

.name{
    font-size: 18px;
}


/*-----------------About Section's Radio Btn-----------------*/
.radio-inputs{
    position: relative;
    display: flex;
    border-radius: 0.5rem;
    background-color: #0b0c10;
    box-sizing: border-box;
    font-size: 16px;
    width: 90%;
    padding: 1rem 1rem 0 1rem;
}
  
.radio-inputs .radio input{
    display: none;
}
  
.radio-inputs .radio .name{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: none;
    padding: 0.5rem 0.8rem;
    color: #fff;
    transition: all 0.15s ease-in-out;
    position: relative;
}
  
.radio-inputs .radio input:checked + .name{
    background-color: #66FCF1;
    font-weight: 600;
}

.radio-inputs .radio input + .name:hover{
    color: #66FCF1;
}

.radio-inputs .radio input:checked + .name:hover{
    color: #0b0c10;
}
  
.radio-inputs .radio input:checked + .name::after,
.radio-inputs .radio input:checked + .name::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0b0c10;
    bottom: 0;
}
  
.radio-inputs .radio input:checked + .name::after{
    right: -10px;
    border-bottom-left-radius: 300px;
    box-shadow: -3px 3px 0px 3px #66FCF1;
}

.radio-inputs .radio input:checked + .name::before{
    left: -10px;
    border-bottom-right-radius: 300px;
    box-shadow: 3px 3px 0px 3px #66FCF1;
}
  

/*-----------------Pre Loader-----------------*/
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 1000;
    flex-direction: column;
}

.main-content{ /*Hide main content at start*/
    display: none;
}

.preloader-text {
    margin-bottom: 20px;
    color: #0b0c10;
    animation: text_713 3.5s ease both infinite;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
  
.preload{
    position: relative;
    background-color: #45a29e;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    animation: loading_713 3.5s ease both infinite;
}
  
.preload::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #66fcf1;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
}
   

/*-----------------Services Section-----------------*/
.subtitle2{
    font-size: 60px;
    font-weight: 600;
    background: linear-gradient(to right, #45A29E, #66FCF1);
    background-clip: text;
    color: transparent;
}


#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}


/*-----------------Work Section-----------------*/
#work{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #66fcf1);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #0B0C10;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #66fcf1;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    background-color: #0b0c10;
}

.btn:hover{
    background: #66fcf1;
}


/*-----------------Contact Section-----------------*/
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #66FCF1;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 32px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition:  transform 0.5s;
}

.social-icons a:hover{
    color: #66FCF1;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    color: #0B0C10;
    font-size: 16px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #1f2833;
    font-weight: 300;
    margin-top: 20px;
}

#msg{
    color: #66FCF1;
    margin-top: -40px;
    display: block;
}

/*-----------------CSS for Small Screens-----------------*/
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px) {
    .home{
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
        /* margin-left: 15%; */
    }
    
    .home-text{
        margin-top: 20px;
        font-size: 16px;
        text-align: center;
    }
    
    .home-text h1{
        margin: 10px 0;
        font-size: 24px;
        font-weight: 700;
        color: #66FCF1;
        opacity: 0;
        animation: slideRight 1s ease forwards;
        animation-delay: 1s;
    }
    
    .home-text h3{
        margin: 8px 0;
        font-size: 20px;
        font-weight: 700;
        opacity: 0;
        animation: slideBottom 1s ease forwards;
        animation-delay: .7s;
    }
    
    .home-text h3:nth-of-type(2){
        margin-bottom: 20px;
        animation: slideTop 1s ease forwards;
        animation-delay: .7s;
    }
    
    .home-text h3 span{
        color: #66FCF1;
    }
    
    /*-----------------Home Selfie Image-----------------*/
    .selfie img{
        width: 100%;
        max-width: 250px; 
        height: auto; 
        opacity: 0;
        animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
        animation-delay: 2s, 3s;
        border-radius: 50%;
        box-shadow: 5px 10px 50px #66fcf1, -5px -5px 12px #45a29e;
        margin-top: 20px;
    }


    /*-----------------Home Hamburger Menu Icon-----------------*/
    nav .fa-bars {
        display: block;
        font-size: 32px;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 2;
    }

    nav ul{
        position: fixed;
        top: 0;
        right: -200px;
        background: #45A29E;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s ease;
        color: #0B0C10;
        background: linear-gradient(to right, #45A29E, #66FCF1);
    }

    nav ul li{
        display: block;
        margin: 25px 0;
        font-size: 36px !important;
        color: #0B0C10;
        text-align: center;
    }

    nav ul li a{
        color: #0B0C10 !important;
    }

    nav ul .fa-x{
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 32px;
        cursor: pointer;
        z-index: 2;
    }


    /*-----------------Home Hamburger Menu Icon-----------------*/
    .subtitle, .subtitle2{
        font-size: 42px;
    }

    .about-col1, .about-col2{
        flex-basis: 100%; 
    }

    .about-col1{
        margin-bottom: 30px;
    }

    .about-col1 img{
        width: 100%;
        height: 100%;
    }

    .about-col2{
        font-size: 14px;
    }

    .radio-inputs{
        font-size: 16px;
        margin-right: 20px;
    }
    
    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }



    
}








/*-----------------KEYFRAMES-----------------*/
/*-----------------Logo-----------------*/
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


/*-----------------Navbar-----------------*/
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


/*-----------------Header Text-----------------*/
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


/*-----------------Header Selfie-----------------*/
@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}


/*-----------------Header Selfie Float-----------------*/
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-12px);
    }

    100%{
        transform: translateY(0);
    }
}


/*-----------------Preloader-----------------*/
@keyframes text_713{
    0% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }
  
    40%{
        letter-spacing: 2px;
        transform: translateX(26px);
    }
  
    80%{
        letter-spacing: 1px;
        transform: translateX(32px);
    }
  
    90%{
         letter-spacing: 2px;
        transform: translateX(0px);
    }
  
    100%{
        letter-spacing: 1px;
        transform: translateX(0px);
    }
}
  
@keyframes loading_713{
    0%{
        width: 16px;
        transform: translateX(0px);
    }
  
    40%{
        width: 10%;
        transform: translateX(0px);
    }
  
    80%{
        width: 16px;
        transform: translateX(64px);
    }
  
    90%{
        width: 10%;
        transform: translateX(0px);
    }
  
    100%{
        width: 16px;
        transform: translateX(0px);
    }
}
  
@keyframes loading2_713{
    0%{
        width: 16px;
        transform: translateX(0px);
    }
  
    40%{
        width: 80%;
        transform: translateX(0%);
    }
  
    80%{
        width: 100%;
        transform: translateX(0px);
    }
  
    90%{
        width: 80%;
        transform: translateX(15px);
    }
  
    100%{
        width: 16px;
        transform: translateX(0px);
    }
}
  